#**************************** Copyright © Jonathon Bell. All rights reserved.
#**
#**
#**  Version : $Header:$
#**
#**
#**  Purpose : Specifies intentionally untracked files to ignore.
#**
#**
#**  See Also: https://git-scm.com/docs/gitignore
#**                                                                     0-0
#**                                                                   (| v |)
#***********************************************************************w*w***

target/
doc/
.*

#*****************************************************************************
